/* ---------------------------------------
   Default Theme
   ---------------------------------------
   Fonts: Ubuntu & SkipLegDay //Raleway & Open Sans
   ---------------------------------------
   Colors:
        Lemon:                  #f1e60d
        Grey:                   #212226
        White Smoke:            #f4f4f4
        White:                  #fff
        Black:                  #000
----------------------------------------*/
